body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  /* width: 100%;
  max-width: 1158px; 
  padding: 0 15px; */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  /* box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
}

.container {
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
  padding: 17px 0;
}

.studio {
  color: #2e2f42;
}

.header-menu-list {
  /* display: flex;
  gap: 40px; */
  display: none;
}

/* .header-menu-item {
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
} */

.header-address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .header-address-link {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
} */

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* 1 hero */

.hero {
  /* background-color: rgba(46, 47, 66, 1);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: rgba(46, 47, 66, 1);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob-1x.jpg);
  padding: 72px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  /* gap: 48px; */
  gap: 72px;
}

.hero-title {
  /* color: #fff;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  box-sizing: border-box; */
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
  color: #fff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* 2 features */

.features {
  background: #fff;
  flex-direction: row;
  padding: 120px 0;
}

.container {
}

.features-container {
}

.visually-hidden {
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-title {
  color: #2e2f42;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* 3 team */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.container {
}

.team-container {
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.team-item {
  background-color: #ffffff;
  display: flex;
  border-radius: 0px 0px 4px 4px;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-img {
}

.team-item-cont {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.team-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
  fill: #f4f4fd;
  stroke: #ffffff;
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.icon-link:hover .icon-icon {
  stroke: rgb(241, 147, 40);
}

/* 4 portfolio */

.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
}

.portfolio-container {
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  list-style: none;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-cont {
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  background-color: rgba(77, 90, 229, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  display: flex;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container {
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-logo-container {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-studio {
  color: #f4f4fd;
  padding-top: 101.5;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-soc-container {
  flex-direction: column;
  align-items: flex-start;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-text {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover {
  background-color: #31d0aa;
}

.icon-link-footer:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.mail-input {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}

.form {
  display: flex;
  max-width: 453px;
  gap: 24px;
  align-items: baseline;
}

.footer-label {
  display: flex;
  gap: 24px;
}

.form-input {
  border: 1px solid white;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background: var(--navy-blue);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
}

.input::placeholder {
  color: white;
}

.footer-button-input {
  display: flex;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: white;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon-close {
  fill: rgba(46, 47, 66, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover > .modal-icon-close,
.modal-close:focus > .modal-icon-close {
  fill: #ffffff;
}

.modal-title {
  text-align: center;
  max-width: 360px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  font-size: 16px;
  color: rgba(46, 47, 66, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-input:focus + .modal-icon {
  fill: rgba(77, 90, 229, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal-input::placeholder {
  font-size: 14px;
  color: rgba(46, 47, 66, 0.4);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-icon {
  fill: rgba(46, 47, 66, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  align-items: flex-start;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background: #404bbf;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  position: relative;
}

.check-text a {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  margin-left: 4px;
}

.check-text-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 12px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
}
